# see https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

ColumnLimit: 100

AccessModifierOffset: -2
IndentWidth: 2
UseTab: Never

PenaltyReturnTypeOnItsOwnLine: 1000

AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Left
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: false
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: BeforeHash
PointerAlignment: Left
AttributeMacros:
  - defer
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AlignCompound: true
  AcrossComments: true
